.signupContainer{
    background-image:url('https://res.cloudinary.com/dgrovf3st/image/upload/v1585845105/goal-setter/goal-setting-signup_audphg.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    min-height:590px;
}