.dashboardBanner{
    background-image: url(https://res.cloudinary.com/dgrovf3st/image/upload/v1585845897/goal-setter/career-leadership-success-businessman_scsfgg.jpg);
    background-repeat: no-repeat;
    background-position: 0 -242px;
    background-size: cover;
}